/* Así definimos el comportamiento de caja para todos los elementos */
* {
    box-sizing: border-box;
}


/* -----------TITULO----------------

/* Definición de la fuente Ferbtastic */
@font-face {
    font-family: "Ferbtastic";
    src: url('Phineas\ y\ Ferb.ttf') format('truetype'); /* Cambia la ruta según la ubicación de tu archivo de fuente */
}

/* Estilos para el título */
.titulo {
    font-family: Ferbtastic, Arial, sans-serif; /* Utiliza Ferbtastic como la primera opción */
    font-weight: 100; /* Anchura de las letras*/
    font-size: 40px; /* Tamaño de letra */
    color: rgb(255, 115, 0);
    text-align: center;
    letter-spacing: 20px;
    border: solid;
    border-color: rgb(0, 19, 226);
    border-width: 5px;
    padding: 10px 10px 10px;
}

/* Estilos para la primera letra (P y F) de la clase .titulo */
.titulo::first-letter {
    font-size: 85px; /* Hace grande la primera letra (P) */
}

.last-letter {
    font-size: 75px; /* Hace grande la última letra (F) */
}

.titulo:not(:first-letter):not(:last-child) {
    font-size: inherit; /* Anula el tamaño de letra para todas las letras excepto la primera y la última */
}

/*-----------DEMAS-------------------------------------

/* Crear columnas de ancho diferente que se colocan una a continuación de la otra */
.columna {
    float: left;
    padding: 20px;
    min-height: 700px;
    }
    
.izquierda {
  width: 30%;
}

.central {
  width: 50%;
}

.derecha {
width: 50%;
}

.central table img,
.derecha table img {
  width: 100px; /* Ancho deseado */
  height: 100px; /* Altura deseada */
}

/* Clear floats despues de las columnas para eliminar la superposición */
.filla:after {
  content: "";
  display: table;
  clear: both;
}
    
#a1 {
    background-color:rgb(255, 115, 0);
}

#a2 {
    background-color:rgb(255, 255, 255);
}

#a3 {
  background-color:rgb(255, 255, 255);
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 600px) {
  .columna.central,
  .columna.derecha {
      width: 100%; /* Cambia el ancho de ambas columnas al 100% */
  }

  .columna.central,
  .columna.derecha {
      float: none; /* Anula el float en dispositivos móviles */
  }

  .columna.central {
      order: 1; /* Cambia el orden de la columna central */
  }

  .columna.derecha {
      order: 2; /* Cambia el orden de la columna derecha */
  }
}

img {
  width: 60%;
  height: auto;
}

.iresponsive {
    padding: 0 6px;
    float: left;
    width: 50%;
  }

/* Responsive layout - cuando el ancho de pantalla es menor a 600px, muestra las columnas apiladas. */
/* Así conseguimos que el contenido se vea bien en dispositvos móviles */

@media screen and (max-width: 1050px) {
    .columna {
      width: 100%;
    }

    .iresponsive {
        width: 100%;
    }
}

/* Más sobre diseño web responsive https://www.w3schools.com/css/css_rwd_intro.asp */

@font-face {
  font-family: "Impact";
  src: url('fonts/impact.ttf') format("truetype");
  font-style: normal;
  font-weight: normal;
}


h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 100; /* Anchura de las letras*/
  color:rgb(0, 0, 0);
  text-align: center;
  letter-spacing: 20px;
  border: solid;
  border-color: rgb(219, 0, 0);
  border-width: 5px;
  padding: 10px 10px 10px;
}

/*LETRAS CONTACTO Y HABILIDADES */
.b1 {
  color: rgb(255, 255, 255);
  letter-spacing: 10px;
  line-height: 15px;
}


/*TIPO LETRAS DATOS,SOBREMI,EXPE */
h2 {
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
  font-weight: 100;
}
/*DATOS PERSONALES */
.b2 {
    color:rgb(255, 115, 0);
    letter-spacing: 10px; /* Espacio entre letras*/
    padding-left: 12px; /* Margen a la derecha*/
  }

/*SOBRE MI */
.b3 {
  color:rgb(255, 115, 0);
  letter-spacing: 10px; /* Espacio entre letras*/
  padding-left: 12px; /* Margen a la derecha*/
}
/*EXPERIENCIA */
.b4 {
  color:rgb(255, 115, 0);
  letter-spacing: 10px; /* Espacio entre letras*/
  padding-left: 12px; /* Margen a la derecha*/
}

li {
  padding-bottom: 10px; /* Separacion entre los elementos*/
  font-family: Montserrat, Helvetica, sans-serif;
}

ul,ol {
  padding-left: 50px;
}

p {
  padding-left: 20px;
  font-family: Montserrat, Helvetica, sans-serif;
}

.parrafo {
  padding-left: 13px;
}

.gif {
  width: 100%;
  height: auto;
}

.piefoto {
  text-align: center;
  font-family: Montserrat, Helvetica, sans-serif;
  font-weight: bold;
}

/*LETRAS DE CONTENIDO DE CONTACTO Y HABILIDADES*/
.blanco {
  color: rgb(255, 255, 255);
}

/*LETRAS EXPERIENCIAS*/
.enlace {
  color: rgb(255, 115, 0);
}

/* Estilos para tablas */
table {
  border-collapse: collapse; /* Combina los bordes de las celdas adyacentes */
  width: 100%; /* Ancho de la tabla, puedes ajustar este valor según tus necesidades */
  margin: 0 auto; /* Centrar la tabla en el contenedor */
}

th, td {
  border: 1px solid rgb(255, 115, 0); /* Grosor y tipo del borde */
  padding: 4px; /* Espaciado interno de las celdas */
  text-align: center; /* Alineación del contenido */
  font-size: 15px; /* Reducir el tamaño de la fuente dentro de las celdas */
}
  